<a href="https://colab.research.google.com/github/sofiigentaa/Python/blob/Google-Colab/Copia_vivo_Python_Operadores_Print_Input_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#OPERADORES
Son símbolos que se aplican a uno o varios operandos en una expresión o instrucción con el fin de obtener cierto resultado

Tipos de operadores

1) OPERADORES ARITMÉTICOS
- suma +
- resta -
- multiplicación *
- potencia **
- división / 
- división entera //
- módulo (resto de la división) %

In [3]:
numero = 500
'''print(numero)
print(numero + 50)
print(56 + 120) # puedo sumar números'''
#print(numero - 150)
#print(numero * 3)
#print(numero ** 2)
#print(numero * numero)

# DIVISIÓN
print(numero / 3) # división con decimales
print(numero // 3) # parte entera de la división
print(numero % 3) # resto de la división

166.66666666666666
166
2

También puedo usar * para strings (cadenas de texto)

In [ ]:
nombre = "Juana"
apellido = "Alvarez"
edad = 32
# print(nombre + " " + apellido)
# nomape = nombre + " " + apellido
# print(nomape)
# print(nombre + edad) # se rompe por tipado fuerte
print(nombre, edad)
print(nombre * 3) #los pone juntos
print((nombre + " ") * 3)
print("Nombre:", nombre,"- Edad:", edad)

Juana 32
JuanaJuanaJuana
Juana Juana Juana
Nombre: Juana - Edad: 32

2) OPERADORES DE ASIGNACIÓN
Dada una variable, puedo asignarle un valor, escribiendo


a = 5 # el operador **igual a**


a += 4 # toma el valor actual de a y le suma 4 -> ahora vale 9  


a -= 3 # toma el valor actual de a y le resta 3 -> ahora vale 6


a *= 2 # toma el valor actual de a y lo multiplica por 2 -> 12


a /= 3


a //=3


a %= 3

In [ ]:
nro = 10
# nro = nro + 20
# nro += 20
# nro -= 7
# nro *= 5
# nro /= 3
# nro //= 3
nro %= 3
print(nro)

1

3) OPERADORES RELACIONALES
Devuelven un valor booleano. Se usan para crear los condicionales y poder alterar el flujo de nuestro programa
Dados a y b

a == b # si son iguales -> Devuelve True o False

a != b # a no es igual a b

a < b # a es menor que b

a > b # a es mayor que b

a <= b # a es menor o igual que b

a >= b # a es mayor o igual que b

In [5]:
n1 = 10
n2 = 17
# print(n1 == n2)
# print(n1 != n2)
# respuesta = n1 != n2
# print(respuesta)
print(n1 > n2)
print(n1 < n2)
print(n1 >= n2)
print(n1 <= n2)

False
True
False
True

4) OPERADORES LÓGICOS o BOOLEANOS

and # evalúa si ambos operandos son True

or # evalúa si al menos uno de los operandos es True

not # cambia el valor del operando

In [6]:
n1 = 10
n2 = 29
el1 = n1 == n2 # False
el2 = n1 != n2 # True
'''print(el1 or el2) # OR: para ser T, basta con que uno sea T -> TRUE
print(el1 and el2) # AND: para ser T, TODOS tienen que ser T -> FALSE
print(not el1)'''
print(el2 and not el1)
print(not (el2 and el1))

True
True

5) OPERADORES DE PERTENENCIA

Devuelve True o False dependiendo de si un elemento pertenece o no a una secuencia de datos

IN

NOT IN

In [7]:
dato = [4,5,6,7,99,23,12]
print(99 in dato)
print(99 not in dato)
print(49 in dato)
print(49 not in dato)

True
False
False
True

ENTRADA Y SALIDA DE DATOS

print() imprime por pantalla lo que le pasamos como parámetro (un dato, una variable, una expresión o una función)

In [9]:
# print(11 + 65)
# print(6 > 7)
# print("Hola")
nom = "Juana"
edad = 34
salario = 130000.45
'''print(type(nom))
print(type(edad))
print(type(salario))'''
print("Nombre:",nom,"Edad:",edad,"Salario:",salario)
print("Nombre:",nom,"\nEdad:",edad,"\nSalario:",salario) # carácter de escape \n

Nombre: Juana Edad: 34 Salario: 130000.45
Nombre: Juana
Edad: 34
Salario: 130000.45

ENTRADA DE DATOS: input()

Pide un dato al usuario.Dentro de los paréntesis se puede poner un texto que le indique al usuario qué es lo que se espera que ingrese.

IMPORTANTE!!!!!!!! todo dato ingresado, ingresa como cadena de texto (aunque sea un número).
Para poder operar con números ingresados por input, hay que convertirlos.

In [10]:
# nombre = input("Ingrese su nombre: ")
# print("Hola,",nombre)
nacim = input("Ingrese su año de nacimiento:")
nacime = int(nacim)
# print(type(nacime))
print("Edad:", 2022-nacime)

Ingrese su año de nacimiento:2000
Edad: 22

In [11]:
nacim = int(input("Ingrese su año de nacimiento:"))
print("Edad:", 2022-nacim)

Ingrese su año de nacimiento:1998
Edad: 24

In [12]:
print("Edad:", 2022-int(input("Ingrese su año de nacimiento:")))

Ingrese su año de nacimiento:1987
Edad: 35

In [13]:
inp = float(input("Ingrese valor: "))
print(type(inp))
print(inp)

Ingrese valor: 25
<class 'float'>
25.0